<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <permission
        android:name="com.fssocrates.abc.permission.USE_ENGINE"
        android:protectionLevel="signature"
        android:label="Use ABC Engine" />

    <application
        android:name=".ABCApp"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABC"
        android:usesCleartextTraffic="true">

        <service
            android:name=".ABCForegroundService"
            android:exported="true"
            android:permission="com.fssocrates.abc.permission.USE_ENGINE"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".ManualInteractionActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ABC" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ABC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
